body {
    background-color: yellow;
}

h1 {
    color: orange;
    text-align: center;
}

.titulos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
    color:green;
    text-decoration:none;
}
a:visited {
    color:purple;
}
a:active {
    color:lime;
}

li {
    font-size: 15px;
}